body {
    font-family: 'Oxygen', sans-serif;
}


.calendar {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.days,
.dates {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.day,
.date {
    display: grid;
    border: 1px solid #ccc;
    padding: 7px;
    background-color: #f2f2f2;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/04/49/47/76/360_F_449477642_y5LSZHA53nm1IFOMxEiIqoOXeLw7s17z.jpg");
}

.calendar {
    float: right;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7 columns for days of the week */
    grid-template-rows: auto;
    /* Automatically adjust row size */
    gap: 5px;
    /* Gap between cells */
}

.day {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
}

.marked-day {
    background-color: #ffcc00;
    font-weight: bold;
}


.container {
    display: flex;
    flex-direction: row;
}


.float-right {
    float: right;
}